h1{
  color: rgb(114, 0, 245);
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}

.teste1{
display: flex;
justify-content: center;
}


h2{
  color:rgb(114, 0, 245) ;
  font-family:'Times New Roman', Times, serif;
  text-align:left;
  margin-left: 5%;

}

ion-card-title{
  border-top: 20%;
  color: rgb(114, 0, 245);
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
}

.center-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-button{
      height: 50px;
      width: 50px;
    }
  }


  .a{
    display: flex;
    flex-direction: column;
    align-items: center;

  }


ion-label{
  font-size: 19px;
  color:rgb(114, 0, 245);
  font-family: 'Times New Roman', Times, serif;
}

ion-button{
  color:rgb(0, 0, 0);
   font-weight: bold;
   font-size: 16px;
}


.diminuir{
  color:rgb(0, 0, 0);
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
