h1{
  color: rgb(0, 5, 4);
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}


.teste1{
  margin-bottom: 20%;
  margin-left: 10%;
}


h2{
  color: rgb(0, 5, 4);
  font-family:'Times New Roman', Times, serif;
  text-align:left;
  margin-left: 5%;

}

.teste2{
  margin-bottom: 100%;
  margin-left: 5%;
}
