<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>
    Valendo: 1
  </h1>
  <div class="teste1">
    <ion-button color="dark" shape="round">1</ion-button>
    <ion-button color="dark" shape="round">3</ion-button>
    <ion-button color="dark" shape="round">6</ion-button>
    <ion-button color="dark" shape="round">9</ion-button>
    <ion-button color="dark" shape="round">12</ion-button>
  </div>

<h2>
  Time 1
</h2>
<div class="teste2">
  <ion-button  color="dark" shape="round">+</ion-button>

<h2>
  0
</h2>
  <ion-button  color="dark" shape="round">-</ion-button>
</div>

</ion-content>
